<div class="absolute bottom-0 right-0 flex flex-row gap-4">
    <button mat-fab (click)="setAction('replace')" class="!rounded-full cosplan-actions__button button-icon shadow-md"
        aria-label="replace cosplan icon" matTooltip="Remplacer">
        <mat-icon class="button-icon__icon">edit</mat-icon>
    </button>
   
    <button mat-fab (click)="setAction('delete')" class="!rounded-full cosplan-actions__button button-icon shadow-md"
        aria-label="delete cosplan icon" matTooltip="Supprimer">
        <mat-icon class="button-icon__icon">delete</mat-icon>
    </button>
</div>