
@use '../../../styles/button-icon.scss' as button-icon;

@include button-icon.button-icon(25px, 38px);

.cosplan-actions {
  &__button {
    color: theme("colors.secondary-dark");
    border-radius: 100%;
  }

  ::ng-deep .mat-mdc-button-persistent-ripple.mdc-fab__ripple {
    border-radius: 100%;
  }

  &.right-plus {
    right: -100px;
  }
}

.cosplan-indicators {
  height: 142px;
}

.cosplan-category {
  line-height: 28px;
}

.edit-field {
  @apply w-full;
  &__hidden {
    @apply invisible block h-0 [&_*]:h-0 ;
  }
}

.cosplan-editable-info {
  &__hidden {
    @apply invisible h-0;
  }
}

.cosplan-img-container, .cosplan-img-container > * {
  height: 100%;
}