@if (cosplan(); as cosplan) {

    <div class="grid grid-cols-3 gap-40 mb-20">
        <div class="col-span-2">
            <div class="flex flex-col gap-4">
                <h1 class="text-5xl">{{cosplan.name | titlecase }}</h1>
                <h2 class="text-xl">
                    {{cosplan.fandom | titlecase }}
                    @if (cosplan.category) {
                    ({{cosplan.category}})
                    }
                </h2>
            </div>
            <div class="flex flex-row flex-wrap justify-between cosplan-indicators mt-10">
                <ezc-progress-circle [progress]="100" [label]="'Temps Passé'" [content]="'15h'"
                    [additionalContent]="'12min'" />
                <ezc-progress-circle [progress]="100" [label]="'Budget Total'" [content]="'1000€'" />
                <ezc-progress-circle [progress]="100" [label]="'Progression'" [content]="'100%'" />
            </div>
        </div>
        <div class="relative">
            <img mat-card-image [ngSrc]="'/assets/cat_smile_secondary_256.png'" alt="Cosplan image" fill />
        </div>
    </div>
    <div class="grid grid-cols-3 gap-20 mb-20">
        <div class="flex flex-col">
            <h2 class="text-3xl">Dernières photos de WIP</h2>
            <!-- TODO carousel image wip -->
        </div>
        <div class="flex flex-col justify-between gap-y-9">
            <ezc-time-entries-stat-card [title]="'2h passées'" [subtitle]="'ce mois'"/>
            <ezc-time-entries-stat-card [title]="'2h passées sur'" [subtitle]="'part name'"/>
        </div>
        <div class="flex flex-row justify-between gap-x-9">
            <ezc-stat-card [stat]="15" [label]="'matériaux différents utilisés'" [img]="'/assets/cat_heart_secondary_256.png'"/>
            <ezc-stat-card [stat]="15" [label]="'photos de WIP'" [img]="'/assets/cat_star_secondary_256.png'" />
        </div>
    </div>
    <div class="grid grid-cols-2 gap-80 mb-20">
        <div>
            <ng-container *ngTemplateOutlet="dashboardTitle, context: {title: 'Dernières tâches accomplies'}" />
            <mat-list>
                <div mat-subheader class="text-xl">Part name</div>
                <mat-list-item>
                    <div matListItemTitle>Task name</div>
                    <div matListItemLine>date checked</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader class="text-xl">Part name</div>
                <mat-list-item>
                    <div matListItemTitle>Task name</div>
                    <div matListItemLine>date checked</div>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            @if (cosplan.deadline) {
                <ng-container *ngTemplateOutlet="dashboardTitle, context: {title: 'Temps restant avant la deadline'}" />
                <span class="text-lg">11J 12H</span>
            } @else {
                <ng-container *ngTemplateOutlet="dashboardTitle, context: {title: 'Pas de deadline pour ce cosplan'}" />
            }

        </div>

    </div>


    <ng-template #dashboardTitle let-title="title">
        <div class="flex flex-row flex-wrap gap-4 items-center dashboard-title mb-8">
            <h2 class="text-3xl m-0">{{title}}</h2>
            <img class="mb-auto" [ngSrc]="'/assets/cat_heart_icon_primary.png'" alt="title image" width="36" height="36"/>
        </div>
    </ng-template>

} @else {
<!-- todo add cosplan -->
}