<mat-card class="time-entrie-stat-card px-5 py-3 h-24 border-opacity-5" appearance="outlined">
    <mat-card-header class="p-0 time-entrie-stat-card__header">
        <mat-card-title class="time-entrie-stat-card__header--title">{{title}}</mat-card-title>
        <mat-card-subtitle class="time-entrie-stat-card__header--subtitle">{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="time-entrie-stat-card__icon" aria-hidden="false" aria-label="statistic icon" fontIcon="trending_up"></mat-icon>
</mat-card>