@use '@angular/material' as mat;
@use './app/styles/m3-theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

html {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

@layer base {
  :root {
    // TODO: nice enhancement would be to retrive this hex color from m3 theme insted of copy/pasting it
    // But at this time, a simple copy paste is better
    --primary: #dd2c75;
    --primary-light: #fffbff;
    --primary-dark: #65002f;
    --secondary: #74565e;
    --secondary-dark: #5b3f46;
    --tertiary: #ffdcbf;
    --neutral: #cfc4c5;
    --error: #ba1a1a;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70px;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    margin: 0;
    background-color: var(--secondary);
    color: var(--primary-light);
  }
}
h1 {
  color: var(--primary);
}

h2,
h3 {
  color: var(--primary-dark);
}

h2 {
  margin-bottom: 2rem;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

a {
  color: var(--primary);
  text-decoration: underline;
}
