@use '@angular/material' as mat;
@use './app/styles/m3-theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

html {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

@layer base {
  :root {
    --primary: #dd2c75;
  }
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
