@if (cosplan(); as cosplan) {
  <ezc-dashboard-title [cosplan]="cosplan" [subtitle]="'Temps passé'"></ezc-dashboard-title>
}
<div [ngClass]="{hidden: loading()}" class="flex flex-col">
  <div class="flex flex-row gap-9">
    <span class="pr-20"></span>
    <div [formGroup]="filterForm" class="flex flex-row grid grid-cols-4 w-full gap-9 items-center">
      <ezc-date-range-picker [bgTransparent]="true"
          [formControlStart]="filterForm.controls.dateStart" [formControlEnd]="filterForm.controls.dateEnd" />
      <mat-form-field class="filter [&>*]:!bg-transparent" appearance="fill">
        <mat-label>Élément</mat-label>
        <input matInput [formControlName]="'element'">
      </mat-form-field>
      <mat-form-field class="filter [&>*]:!bg-transparent" appearance="fill">
        <mat-label>Tâche</mat-label>
        <input matInput [formControlName]="'task'">
      </mat-form-field>
      <div class="flex flex-row justify-between items-center">
        <button mat-icon-button
            (click)="resetFilters()"
            [matTooltip]="'Réinitialiser les filtres'"
            class="hover:shadow-none hover:shadow-bg-transparent shadow-md button-icon" aria-label="button reset filters">
            <mat-icon class="button-icon__icon">refresh</mat-icon>
        </button>
          @if (selection.hasValue()) {
            <button mat-flat-button (click)="deleteSelection()"
              class="hover:shadow-none hover:shadow-bg-transparent shadow-md" aria-label="button delete time entries">
              Supprimer la sélection
            </button>
          }
      </div>
    </div>
  </div>
  <div [ngClass]="{hidden: !dataSource.data.length}">
    <table mat-table [dataSource]="dataSource" class="!shadow-none mb-10" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jour </th>
        <td mat-cell *matCellDef="let element"> {{element.day | date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="part">
        <th mat-header-cell *matHeaderCellDef>
          Élément
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element?.part || element?.task?.part) {
          <a [routerLink]="['../part', (element.task?.part?.id || element?.part?.id)]" [relativeTo]="route.parent">
            {{element.part?.name ?? element.task?.part?.name}}
          </a>
          }
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef>
          Tâche
        </th>
        <td mat-cell *matCellDef="let element">{{element.task?.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="flex flex-col justify-center items-center gap-3">
            Temps passé
          </div>
        </th>

        <td mat-cell *matCellDef="let element">{{ element.time | time }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ timeEntrySum() | time }}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>

    <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[10, 20, 50, 100]" [length]="timeEntryCount()"
      aria-label="Select page of data"></mat-paginator>
  </div>
  <div [ngClass]="{hidden: dataSource.data.length > 0}"
    class="flex flex-col justify-center items-center text-3xl gap-6 mt-20 h-full">
    <img class="mb-auto" mat-card-image [ngSrc]="'/assets/cat_confused_secondary_256.png'" alt="app title image"
      width="150" height="150" />
    <h3>Aucune entrée de temps trouvée</h3>
  </div>
</div>