<div [ngClass]="{hidden: loading()}"> 
  <div [ngClass]="{hidden: !dataSource.data.length}">
    <div class="flex w-full justify-end items-center gap-4">
      @if (selection.hasValue()) {
        <button mat-flat-button (click)="deleteSelection()" class="hover:shadow-none hover:shadow-bg-transparent shadow-md"
          aria-label="button delete time entries">
          Supprimer la sélection
        </button>  
      }
      <mat-form-field class="!w-1/5">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Peinture" #input>
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="!shadow-none mb-10" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jour </th>
        <td mat-cell *matCellDef="let element"> {{element.day | date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
  
      <ng-container matColumnDef="part">
        <th mat-header-cell *matHeaderCellDef> Elément </th>
        <td mat-cell *matCellDef="let element">
          @if (element?.part || element?.task?.part) {
          <a [routerLink]="['../part', (element.task?.part?.id || element?.part?.id)]" [relativeTo]="route.parent">
            {{element.part?.name ?? element.task?.part?.name}}
          </a>
          }
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef> Tâche </th>
        <td mat-cell *matCellDef="let element">{{element.task?.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temps passé </th>
        <td mat-cell *matCellDef="let element">{{ element.time | time }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalTime() || 0 | time }}
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  
    </table>
  
    <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[2, 4, 6, 100]" [length]="timeEntryCount()" aria-label="Select page of data"></mat-paginator>
  </div>
  
  <div [ngClass]="{hidden: dataSource.data.length > 0}" class="flex flex-col justify-center items-center text-3xl gap-6 h-full">
    <img class="mb-auto" mat-card-image [ngSrc]="'/assets/cat_confused_secondary_256.png'" alt="app title image"
      width="150" height="150" />
    <h3>Tu n'a pas encore renseigné de temps passé</h3>
  </div>
</div>
