<mat-sidenav-container class="cosplan-dashboard-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="cosplan-dashboard-sidenav border-opacity-5 px-5"
        [fixedInViewport]="false">
        <button [routerLink]="['/']" mat-icon-button class="button-icon button-icon-absolute">
            <mat-icon class=" button-icon__icon" aria-hidden="false" aria-label="Retour liste des cosplans"
                fontIcon="arrow_back"></mat-icon>
        </button>
        <div class="flex flex-col h-full justify-center items-center gap-9">
            <button [routerLink]="['/dashboard', cosplan()?.id ?? null]" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true}" mat-icon-button class="button-icon button-primary"
                [matTooltip]="'Tableau de bord'">
                <mat-icon class="button-icon__icon" aria-hidden="false" [fontIcon]="'dashboard'"></mat-icon>
            </button>
            <button [routerLink]="['part']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}"
                mat-icon-button class="button-icon button-primary" [matTooltip]="'Éléments'">
                <mat-icon class="button-icon__icon" aria-hidden="false" [fontIcon]="'checklist'"></mat-icon>
            </button>
            <!-- <button [routerLink]="['part']" routerLinkActive="active-link" mat-icon-button
                class="button-icon button-primary" [matTooltip]="'Matériaux'">
                <mat-icon class="button-icon__icon" aria-hidden="false" [fontIcon]="'construction'"></mat-icon>
            </button>
            <button [routerLink]="['part']" routerLinkActive="active-link" mat-icon-button
                class="button-icon button-primary" [matTooltip]="'Références'">
                <mat-icon class="button-icon__icon" aria-hidden="false" [fontIcon]="'receipt_long'"></mat-icon>
            </button>-->
            <button [routerLink]="['timeentry']" routerLinkActive="active-link" mat-icon-button
                class="button-icon button-primary" [matTooltip]="'Temps passé'">
                <mat-icon class="button-icon__icon" aria-hidden="false" [fontIcon]="'more_time'"></mat-icon>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="cosplan-dashboard-sidenav__content">
        <ng-content />
    </mat-sidenav-content>
</mat-sidenav-container>