@use '../../../styles/button-icon.scss' as button-icon;

@include button-icon.button-icon(50px, 66px);

.button-icon-absolute {
  position: absolute;
  right: 22px;
}

.cosplan-dashboard-sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .cosplan-dashboard-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #ffecef;
    border-radius: 0;
    border-right: #aa88901e 2px solid;

    &__content {
      background-color: theme('colors.primary-light');
    }
  }
}
