@use '../../../../../styles/wip-picture-card.theme.scss' as card-theme;
@use '../../../../../styles/button-icon.scss' as button-icon;

@include card-theme.card-content();

.expandable-picture:not(.expanded) {
  position: relative;
  transition: 0.25s opacity;
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
  transition: height 0.2s linear;

  @include button-icon.button-icon(21px, 30px);

  .button-icon__icon {
    border-radius: 100%;

    ::ng-deep .mat-mdc-button-persistent-ripple.mdc-fab__ripple {
      border-radius: 100%;
    }
  }

  &:hover {
    > .see-more {
      opacity: 1;
      z-index: 999999;
    }

    .shadow {
      -webkit-box-shadow: inset -1px -50px 17px -8px rgba(0, 0, 0, 0.51);
      box-shadow: inset -1px -50px 17px -8px rgba(0, 0, 0, 0.51);
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .see-more {
    transition: 0.5s ease;
    opacity: 0;
  }
}

.expandable-picture.expanded {
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
  transition: height 0.2s linear;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;

  @include button-icon.button-icon(60px, 73px);

  > img {
    width: 100%;
    max-width: 1200px;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  > button {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .wip-description {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15px;
    padding: 10px 40px;
    background-color: #91737aad;
  }
}
