<div [ngClass]="{'expanded gap-4' : expandedPicture()}"
    class="cosplan-wip-picture-card rounded-xl border border-stone-300 expandable-picture">
    @if (!expandedPicture()) {
        <div class="see-more absolute bottom-[15px] w-full">
            <div class="flex flex-row justify-between gap-4 items-center px-4">
                <div class="text-white break-words">Installation du miaou</div>
                <div class="flex flex-row gap-4">
                    <button mat-mini-fab class="!rounded-full button-icon shadow-md"
                    aria-label="replace cosplan icon" matTooltip="Modifier">
                    <mat-icon class="button-icon__icon">edit</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="togglePictureFullSize()" class="!rounded-full button-icon shadow-md"
                    aria-label="replace cosplan icon" matTooltip="Voir plus">
                    <mat-icon class="button-icon__icon">open_in_full</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    }
    <div class="shadow rounded-xl"></div>  
    <img mat-card-image class="w-full h-full rounded-xl object-cover"
    [src]="'https://images.unsplash.com/photo-1495360010541-f48722b34f7d?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'">
    @if (expandedPicture()) {
        <button mat-icon-button
            (click)="togglePictureFullSize()"
            class="hover:shadow-none hover:shadow-bg-transparent button-icon" aria-label="button close full size picture">
            <mat-icon class="button-icon__icon">cancel</mat-icon>
        </button>

        @if (true) {
            <div class="absolute text-lg flex flex-col wip-description">
                <h3>Installation du miaou</h3>
                <p class="text-white">Passage d'un hérisson en pvc léger du fait qu'on est sur un miaou tubé en inox</p>
            </div>
        }
    }
</div>