.cosplan-indicators {
  @property --progress-value {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }

  @keyframes progress {
    to {
      --progress-value: 75;
    }
  }

  &__progress {
    color: theme('colors.primary');
    height: 100%;

    &--container {
      color: #74565e;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 100%;
      border-radius: 50%;
      background: radial-gradient(
          closest-side,
          #fffbff 79%,
          transparent 80% 100%
        ),
        conic-gradient(theme('colors.primary') 100%, #ffecef 0);
      -webkit-box-shadow: 4px 2px 13px -3px rgba(71, 42, 10, 0.5);
      box-shadow: 4px 2px 13px -3px rgba(71, 42, 10, 0.5);
    }

    &--content .additional-content {
      bottom: -9px;
      right: 5px;
    }

    .progress-bar {
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
}
