@mixin card-content() {
    .cosplan-card {
        width: 400px;
        height: 600px;
        background-color: #aa88901e;
        
        .divider {
            margin-left: auto;
            margin-right: auto;
        }
    }
}